@import url(./styles/var.scss);

body {
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif !important;
}
  

.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 80vh; 
    padding: 20px;
}

.actionsDiv{
    display: flex;
    width: 100%;
    gap: 16px;
    padding:10px;
}

.searchBar .MuiOutlinedInput-root{
    border-radius: 25px;
    background-color: var(--search-bar);
    color: var(--text-primary);
    .MuiInputAdornment-root{
        color: var(--text-primary);
    }
}
.dataTable .MuiTableHead-root {
    background-color: var(--table-head);
    font-family: 'Raleway', sans-serif !important;
    .MuiTableRow-root .MuiTableCell-root{
        color: var(--text-primary);
        font-weight: 600;
        .MuiButtonBase-root{
            color: var(--text-primary);
            font-weight: 600;
        }
    }
}
.dataTable .MuiTableBody-root{
    background-color: var(--background-container-table);
    font-family: 'Raleway', sans-serif !important;
    .MuiTableRow-root .MuiTableCell-root{
        color: var(--text-primary);
        .MuiButtonBase-root{
            color: var(--text-primary);
        }
    }
}
.dataTable .MuiTableBody-root img{
   border-radius: 5px;
}

.MuiSelect-root {
    border-radius: 10px !important;
    background-color:  var(--accent);
    border: 1px solid  var(--accent);
    color:  var(--text-button) !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
    height: 45px;
    font-family: 'Raleway', sans-serif !important;
    width: 200px;
}
.MuiSelect-root.selectOutlined{
    border-radius: 10px !important;
    background-color: transparent!important;
    border: 1px solid var(--text-select-outline) !important;
    color: var(--text-select-outline) !important;
    font-weight: 500 !important;
    width: 300px !important;
    height: 45px !important;
    text-transform: capitalize !important;
    font-family: 'Raleway', sans-serif !important;
}
.MuiButton-root{
    border-radius: 10px !important;
    background-color:  var(--accent) !important;
    border: 1px solid  var(--accent) !important;
    color:  var(--text-button) !important;
    width: 200px;
    height: 45px;
    font-weight: 500 !important;
    font-style: normal !important;
    height: 45px;
    border: 1px solid grey !important;
    text-transform: capitalize!important;
    font-family: 'Raleway', sans-serif !important;
}
.MuiButton-root.createButton{
    width: 300px;
}
.MuiButton-root.btnOutlined {
    border-radius: 10px !important;
    background-color: transparent !important;
    border: 2px solid var(--accent) !important;
    color: var(--accent) !important;
    font-weight: 600 !important;
    width: 150px !important;
    height: 45px !important;
    text-transform: capitalize !important;
    font-family: 'Raleway', sans-serif !important;
}
.MuiPaper-root{
    --Paper-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;
    background-color: var(--background-container-card);
    color: var(--text-primary);
    font-weight: 300!important;
    .MuiListItemIcon-root{
        color: var(--text-primary);
    }
}
.MuiPaper-root.appBar{
    --Paper-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--accent);
    color: var(--text-primary);
 
}
.MuiDialog-paper{
    background-color: var(--background-container-card);
    color: var(--text-primary);
    border-radius: 15px !important;
    padding: 10px;
    font-family: 'Raleway', sans-serif !important;
 
}
.MuiFormControl-root .MuiFormLabel-root{
    color: var(--text-primary);
}
.MuiDialogContent-root .productCard{
    background-color: var(--background-container-card);
    color: var(--text-primary);
    --Paper-shadow:none !important;
    img{
        border-radius: 10px;
    }
    .MuiButtonBase-root{
        color: var(--text-primary);
    }
}
.MuiInputBase-input.MuiInput-input {
    font-weight: 300 !important;
    color: var(--text-primary);
    font-family: 'Raleway', sans-serif !important;
}
.MuiFormControl-root{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.fieldPaddings{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.subtituleDialog{
    font-weight: 500 !important;
    font-family: 'Raleway', sans-serif !important;
    color: var(--text-primary);
}
.MuiTablePagination-root{
    background-color: var(--table-pagination);
    width: 100%;
    color: var(--text-primary);
}
.MuiTablePagination-root .MuiTablePagination-select{
    background-color:transparent;
    border: none;
    color: var(--text-primary);
    border-radius: 10px!important;
}
@media (max-width: 600px) {
    .dataTable .MuiTableCell-root {
    font-size: 12px;
    padding: 8px;
    }

  
    .dataTable .MuiTableCell-root:nth-child(1), 
    .dataTable .MuiTableCell-root:nth-child(4) { 
    display: none;
    }

   
    .dataTable .MuiTablePagination-root {
    font-size: 12px;
    }
    .MuiButton-root.createButton{
        width: 200px;
    }
    .actionsDiv {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 8px; 
        width: 100%;
    }

    .actionsDiv button {
        flex: 1; 
        max-width: 200px; 
    }
}