:root {
    --background: #fefefe; 
    --text-primary: #2d3a4b; 
    --text-secondary: #6a7582; 
    --accent: #a8c0d9; 
    --accent-hover: #b0d0e6; 
    --text-button:white;
    --border: #e1e8f0; 
    --shadow: 3px 5px 10px rgba(0, 0, 0, 0.2); 
    --background-container-table: #ffffff; 
    --table-head:#cfd9e9;
    --table-pagination: #cfd9e9;
    --search-bar:#fefefe;
    --background-container-card: #ffffff; 
    --text-select-outline:#cfd9e9;
    --border-dark: #fefefe;
}

[data-theme='dark'] {
    --background: #121b22; 
    --text-primary: #d0d9e5; 
    --text-secondary: #a0a8b2; 
    --accent: #536f8b ;
    --accent-hover: #9bbcd5; 
    --border: #2a3a4b; 
    --shadow: 3px 5px 10px rgba(255, 255, 255, 0.2); 
    --background-container-table: #121b22; 
    --table-head:#3d4b56;
    --table-pagination:#3d4b56;
    --search-bar:#3d4b56;
    --background-container-card: #3d4b56; 
    --text-select-outline:#cfd9e9;
    --border-dark: #6a6a6a;
    --text-button: #2d3a4b;
}